<template>
    <h5 class="text-center" v-if="items == false">Nenhum item cadastrado.</h5>
    <ul class="gallery-images sortable" :data-url="url.reorder" v-else>
        <template v-for="(item_gallery, index) in items">
            <li class="ui-state-default" :data-id="item_gallery.id">
                <img class="image-gallery" :src="createImage(item_gallery.image)" alt="">
                <span class="badge bg-blue">{{index+1}}</span>
                <div @click.prevent="deleteGallery(item_gallery.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></div>
            </li>
        </template>
    </ul>
</template>

<script>
    export default {
        props: {
            urls: {
                type: String
            },
            items: {
                required: true,
                default: false
            }
        },
        methods: {
            createImage: function(name){
                return window.location.origin+this.url.image+name;
            },
            deleteGallery: function(id) {
                var url_delete = this.url.delete+id;
                var $this = this;
                $.get(url_delete, function (data) {
                    if (data == 1) {
                        $this.$emit('success');
                    }
                });
            }
        },
        created: function() {
            this.url = JSON.parse(this.urls);
        }
    }
</script>
