<template>
    <h5 class="text-center" v-if="itemsList == false">Nenhum item cadastrado.</h5>
    <table class="table table-hover" v-else>
        <thead>
            <tr>
                <th v-show='url.image != "false"'>Imagem</th>
                <th>Título</th>
                <th class="text-right">Ações</th>
            </tr>
        </thead>
        <tbody :class='{ sortable: url.reorder != "false" }' :data-url="url.reorder">
            <tr class="ui-state-default" v-for="(item_list, index) in itemsList" :data-id="item_list.id">
                <td v-show='url.image != "false"'>
                    <img class="image-table" :src="createImage(item_list.image)"  v-if="item_list.image != 0 && item_list.image != undefined" />
                    <div class="sem-foto" v-else></div>
                </td>
                <td>
                    {{item_list.title_pt}}
                </td>
                <td>
                    <div class="btn-group pull-right">
                        <a :href="url.edit+item_list.id" class="btn btn-success btn-sm" v-show='url.edit != undefined'><i class="fa fa-edit"></i></a>
                        <a :href="url.gallery+item_list.id" class="btn btn-primary btn-sm" v-show='url.gallery != undefined'><i class="fa fa-picture-o"></i></a>
                        <a :href="url.answer+item_list.id+'/respostas'" class="btn btn-primary btn-sm" v-show='url.answer != undefined'><i class="fa fa-commenting"></i></a>
                        <a :href="url.delete+item_list.id" class="btn btn-danger btn-sm delete-btn"><i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            urls: {
                type: String
            },
            itemsList: {
                required: true,
                default: false
            }
        },
        methods: {
            createImage: function(name){
                return window.location.origin+this.url.image+name;
            },
            deleteList: function(id) {
                var url_delete = this.url.delete+id;
                var $this = this;
                $.get(url_delete, function (data) {
                    if (data == 1) {
                        $this.$emit('success');
                    }
                });
            }
        },
        created: function() {
            this.url = JSON.parse(this.urls);
        }
    }
</script>
