/* VARIAVEIS */

$default: #0fb5bc;
$pink:#ef3977;
$purple:#662d91;
$yellow:#ffcb0c;
$green:#1cb37c;
$red:#ee2a24;

$grayDark:#383838;
$grayLight:#e6e6e6;
$gray:#606060;
$line:#c8c8c8;

$black: #222222;

/*admin*/
$pixel_color :#c0de14;
$light: #b1b4bb;

/* FUNÇÕES */

/*  Clearfix
    ========================================================================== */
    @mixin cf {
      *zoom: 1;
      &:before, &:after {
        content: "";
        display: table;
      }
      &:after {
        clear: both;
      }
    }

/*  Opacity
    ========================================================================== */
    @mixin opacity($value) {
      $ie: $value * 100;
      filter: alpha(opacity=$ie);
      opacity: $value;
    }

/*  Flexbox
    ========================================================================== */
    @mixin flexbox($d:row,$q:1,$v:flex-start,$h:flex-start) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        flex-direction: $d;
        -ms-flex-direction: $d;
        -webkit-flex-direction: $d;

        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;

        flex-shrink: $q;
        -webkit-flex-shrink: $q;

        align-items: $v;

        justify-content: $h;
    }

    @mixin placeholder($color:#666666) {
        &::-webkit-input-placeholder {color: $color;}
        &:-moz-placeholder {color: $color;}
        &::-moz-placeholder {color: $color;}
        &:-ms-input-placeholder {color: $color;}
    }

/*  Sizing
    ========================================================================== */
    @mixin sizing($box:border-box){
        box-sizing: $box;
        -webkit-box-sizing: $box;
        -moz-box-sizing: $box;
        -o-box-sizing: $box;
        -ms-box-sizing: $box;
    }

/*  Font-face
    ========================================================================== */
    @mixin font-face($name, $font-files, $weight: false, $style: false) {
      @font-face {
        font-family: $name;
        src: url($font-files + ".eot");
        src: url($font-files + ".eot?#iefix") format('embedded-opentype'),
             url($font-files + ".woff") format('woff'),
             url($font-files + ".woff2") format('woff2'),
             url($font-files + ".ttf") format('truetype'),
             url($font-files + ".svg#" + $name) format('svg');
        @if $weight {
          font-weight: $weight;
        }
        @if $style {
          font-style: $style;
        }
      }
    }

    /*  Transform
        ========================================================================== */
    @mixin transform($r:0deg, $s:1, $skx:0deg, $sky:0deg, $tx:0px, $ty:0px){
        transform: rotate($r) scale($s) skew($skx,$sky) translate($tx,$ty);
        -webkit-transform: rotate($r) scale($s) skew($skx,$sky) translate($tx,$ty);
        -moz-transform: rotate($r) scale($s) skew($skx,$sky) translate($tx,$ty);
        -ms-transform: rotate($r) scale($s) skew($skx,$sky) translate($tx,$ty);
        -o-transform: rotate($r) scale($s) skew($skx,$sky) translate($tx,$ty);
    }

    /*  Translate
        ========================================================================== */
        @mixin translated($horizontal:0, $vertical: 0) {
            -webkit-transform: translate($horizontal, $vertical);
                -moz-transform: translate($horizontal, $vertical);
                -ms-transform: translate($horizontal, $vertical);
                    transform: translate($horizontal, $vertical);
        }

    /*  Skew
        ========================================================================== */
        @mixin skew($valueX, $valueY) {
            -webkit-transform: skewX($valueX) skewY($valueY);
                -ms-transform: skewX($valueX) skewY($valueY);
                    transform: skewX($valueX) skewY($valueY);
        }

    /*  Scale
        ========================================================================== */
        @mixin scale($value) {
            -webkit-transform: scale($value);
                -ms-transform: scale($value);
                    transform: scale($value);
        }

    /*  Rotate
        ========================================================================== */
        @mixin rotate($value) {
            -webkit-transform: rotate($value);
                -ms-transform: rotate($value);
                    transform: rotate($value);
        }

    /*  Transform origin
        ========================================================================== */
        @mixin origin($valueX, $valueY) {
            -webkit-transform-origin: $valueX $valueY;
                -ms-transform-origin: $valueX $valueY;
                    transform-origin: $valueX $valueY;
        }

/*  Gradients
    ========================================================================== */

    /*  Vertical gradient
        ========================================================================== */
        @mixin simple-vertical-gradient($startColor, $endColor) {
            background-color: $startColor;
            background: -webkit-linear-gradient(top, $startColor, $endColor);
            background:         linear-gradient(to bottom, $startColor, $endColor);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$startColor}', EndColorStr='#{$endColor}');
        }

        @mixin vertical-gradient($bgColor, $colors...) {
            background: -webkit-linear-gradient(top, $colors) $bgColor;
            background:         linear-gradient(to bottom, $colors) $bgColor;
        }

    /*  Horizontal Gradient
        ========================================================================== */
        @mixin simple-horizontal-gradient($startColor, $endColor) {
            background-color: $startColor;
            background: -webkit-linear-gradient(left, $startColor, $endColor);
            background:         linear-gradient(to right, $startColor, $endColor);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#{$startColor}', EndColorStr='#{$endColor}');
        }

        @mixin horizontal-gradient($bgColor, $colors...) {
            background: -webkit-linear-gradient(left, $colors) $bgColor;
            background:         linear-gradient(to right, $colors) $bgColor;
        }

    /*  Transition
        ========================================================================== */
        @mixin animate($p:all, $du:.5s, $de:0s, $ti:ease){
            transition: $p $du $de $ti;
            -webkit-transition: $p $du $de $ti;
            -moz-transition: $p $du $de $ti;
            -ms-transition: $p $du $de $ti;
            -o-transition: $p $du $de $ti;
        }

    /*  Border Radius
        ========================================================================== */
    @mixin radius($r: 5px){
        border-radius:$r;
        -webkit-border-radius:$r;
        -moz-border-radius:$r;
        -ms-border-radius:$r;
        -o-border-radius:$r;
    }

    /*  Animation
        ========================================================================== */
    @mixin animation($animate...) {
        -webkit-animation: $animate;
        -moz-animation:    $animate;
        -o-animation:      $animate;
        animation:         $animate;
    }

    @mixin keyframes($animationName) {
        @-webkit-keyframes #{$animationName} {
            @content;
        }
        @-moz-keyframes #{$animationName} {
            @content;
        }
        @-o-keyframes #{$animationName} {
            @content;
        }
        @keyframes #{$animationName} {
            @content;
        }
    }