.vue-table-category {
  .table-striped {
    > tbody.ui-sortable {
      > tr {
        &[data-nivel="1"]:nth-of-type(odd),
        &[data-nivel="1"] {
            td:first-child{
              background: #3ea763;
              color: #fff;
            }
        }
        &[data-nivel="2"]:nth-of-type(odd),
        &[data-nivel="2"] {
          td:first-child{
            background-color: #f9f450;
          }
        }
        &[data-nivel="3"]:nth-of-type(odd),
        &[data-nivel="3"] {
          td:first-child{
            background-color: #f3877a;
          }
        }
      }
    }
  }
}
.list {
  li {
    list-style: none;
  }
}
.ui-sortable {
  tr,
  li {
    cursor: move;

  }
}
.vue-table {
  padding-top: 20px;
}

.image-table {
  max-width: 60px;
}
.upload {
  position: relative;
  cursor: pointer;
  .btn {
    width: 100%;
  }
  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity=0);
    cursor: pointer;
  }
}
.content-editor {
  .btn {
    width: 100%;
  }
  .modal-editor {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    @include animate();
    @include flexbox($v:center,$h:center);
    @include translated($horizontal:250%);
    .overlay-editor {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.4);
      @include animate($du:1s);
      @include opacity(0);
    }
    .container-editor {
      max-width: 540px;
      position: relative;
      z-index: 10;
      .close-editor {
        position: absolute;
        height: 34px;
        width: 34px;
        top: -16px;
        right: -11px;
        z-index: 50;
        cursor:pointer;
        .fa-circle {
          color:#f0f0f0;
        }
        .fa-close {
          color:#333;
        }
      }
    }
    &.editor-show {
      @include translated($horizontal:0%);
      .overlay-editor {
        @include opacity(1);
      }
    }

  }
}
.form-group {
  label {
    font-size: 12px;
  }
}

ol.sortable,ol.sortable ol {
  list-style-type: none;
}

.sortable li div {
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: move;
  border-color: #D4D4D4 #D4D4D4 #BCBCBC;
  margin: 0;
  padding: 3px;
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
  border-color: #999;
}

.disclose, .expandEditor {
  cursor: pointer;
  width: 20px;
  display: none;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
  display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
  display: inline-block;
}

.sortable span.ui-icon {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.ui-sortable-placeholder,
.placeholder {
  outline: 1px dashed #4183C4;
  visibility: visible !important;
}
.sem-foto {
  width: 60px;
  height: 60px;
  background-image: url(../images/sem-foto.jpg);
  background-size: contain;
}
.multiple-upload {
  padding: 20px;
}
.checkbox input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
.check-star {
  input[type="checkbox"] {
    @include opacity(0);
  }
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    i.fa-star {
      color:yellow;
    }
    i {
      font-size: 18px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.change-visible {
  text-align: center;
  width: 100%;
  span {
    font-size: 18px;
    cursor:pointer;
  }
}
.change-featured {
  text-align: center;
  width: 100%;
  span {
    font-size: 18px;
    cursor:pointer;
    i.fa-star {
      color:yellow;
    }
  }
}
.icon-language {
  display:inline-block;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  &.icon-pt {
    background-image: url(../images/icon-brasil.jpg);
  }
  &.icon-es {
    background-image: url(../images/icon-espanhol.jpg);
  }
  &.icon-en {
    background-image: url(../images/icon-american.jpg);
  }
}
.nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color: #d2d6de !important;
}
.gallery-images {
  padding:0;
  margin:0;
  li {
    list-style: none;
    width: 19%;
    height: 148px;
    float: left;
    border: 2px solid #dcdcdc;
    margin: 5px;
    position: relative;
    overflow: hidden;
    .badge{
      position: absolute;
      top: 5px;
      left: 5px;
    }
    .btn.btn-danger {
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: 25px;
    }
    .image-gallery {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translated(-50%,-50%);
      max-width:100%;
      max-height:100%;
    }
  }
}
.dropzone {
  .dz-preview.dz-processing {
    &.dz-success {
      .dz-progress {
        opacity: 0; -webkit-transition: opacity 0.4s ease-in; -moz-transition: opacity 0.4s ease-in; -ms-transition: opacity 0.4s ease-in; -o-transition: opacity 0.4s ease-in; transition: opacity 0.4s ease-in;
      }
    }
    .dz-progress {
      .dz-upload {
        background: $green;
      }
    }
  }
}
.alert {
  margin-bottom: 0 !important;
  h4 {
    margin-bottom: 0;
  }
}
[v-cloak] {
  display: none;
}
.form-group {
  .vue-input-tag-wrapper {
    border-color: #d2d6de;
  }
}
.checkbox {
  &.checklist {
    .scrolling {
      max-height: 300px;
      overflow: auto;
    }
    input[type="checkbox"] {
      position: relative !important;
    }
    label {
      margin-right: 20px;
      margin-bottom: 5px;
    }
  }
}

.ui-tooltip.ui-corner-all.ui-widget-shadow {
  display: none !important;
}
div.mce-fullscreen {
  z-index: 2000;
}
.navbar-custom-menu {
  .navbar-nav {
    > .messages-menu {
      > .dropdown-menu {
        > li {
          .menu {
            > li {
              > a {
                > p,
                > h4 {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}