[v-cloak] {
    display: none;
}
.select-filter {
    height: 48px;
    line-height: 48px;
    color: #848484;
    text-transform: uppercase;
    outline: none;
    width: 100%;
    border: 1px solid #cccccc;
}

.default-list { list-style: none; padding: 0; margin: 0; text-align: center; margin-top: 45px;
    li { display: inline-block;  margin-bottom: 30px; margin: 0 8px; width: 270px; border: 1px solid @lgray; .borderRadiusAll(10px); float: left; }
    li .btn {  margin-bottom: 20px;   }

    &:after { content: " "; clear: both; display: block; }

    figure { border-bottom: 1px solid @box; overflow: hidden; padding: 10px; height: 235px; text-align: center;
        img { .borderRadius(10px,10px,0,0); max-height: 100%; max-width: 100%; }
    }

    .title-container { height: 74px; line-height: 74px; }
    .title { text-transform: uppercase; font-size: 21px; line-height: 1; display: inline-block; vertical-align: middle; padding: 0 10px; }
    .title a { color: @dgray; }
    .title a:hover { color: #848484; }
}

.default-list.default-article { 
    li { text-align: left;  }
    li .title { padding: 0 20px; }
    li p, li a.link { color: @dgray; display: block; height: 100px; overflow: hidden; padding: 0 20px; margin-bottom: 0; position: relative; margin-bottom: 20px; } 
    li p:after, li a.link:after { content: " "; display: block; position: absolute; top: 0; right: 0; height: 100%; width: 100%; .doGradient(transparent, #FFF); .borderRadius(0,0,5px,5px) }
}

.default-list.default-imagem {
    li { border: 1px solid @lgray !important; background: transparent !important; }

    figure { padding: 20px 20px 10px; border: 0; .borderRadiusAllImportant(5px); overflow: hidden; text-align: center;
        img { .borderRadiusAllImportant(5px); border: 1px solid @lgray; max-width: 100%; max-height: 189px; }
    }
    p { padding: 0 20px 0px; margin-bottom: 0; text-align: left; font-size: 18px !important; color: @dgray !important; }
}
.default-list.default-list-center {
    li { border: 1px solid @lgray !important; background: transparent !important; 

        .title-container { height: auto; line-height: 1; margin: 20px 0 10px; font-weight: 700; }
        p { margin-bottom: 0; }
    }
}

.box-list {
    border: 1px solid @lgray; padding: 20px 0 20px 10px; .borderRadiusAll(7px); margin: 0; margin-bottom: 10px;

    &:hover { box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); border-color: transparent; }

    .title span,
    .title a{ font-size: 18px; font-weight: 400; color: @dgray;  }
    .title span:hover,
    .title a:hover { color: #848484; }
    .link-red a,
    .link-red span { color: @cta; text-transform: uppercase; font-weight: bold; white-space: nowrap; }
    .link-red a:hover,
    .link-red span:hover { color: #f15353; }
    .link-black span,
    .link-black a { color: #000; text-transform: uppercase; font-weight: bold; white-space: nowrap; }
    .link-black span:hover,
    .link-black a:hover { color: #353535; }
}

.list-tags {
    margin-bottom: 30px;
    .tag { display: inline-block; background: @box; padding: 5px 7px; color: @dgray; font-size: 14px; margin-right: 10px; .borderRadiusAll(5px); margin-bottom: 10px; }
    .tag:hover { background: @gray; text-decoration: none; color: #FFF; }
}

.share-bar { font-size: 18px;
    .share-item { display: inline-block; width: 35px; height: 35px; line-height: 35px; margin-left: 5px; text-align: center; color: @dgray; background: @box; .borderRadiusAll(50%); }
    .share-item:hover { color: @box; background: @dgray; }
}


/*** HEADER ***/
#header {
    height: 100px; line-height: 100px;

    .logo { margin-bottom: 0;
        a { display: block; line-height: 100px; vertical-align: middle;  }
        img { margin-top: -10px; }
    }
    .nav > ul { display: none; }
    .nav > ul.nav-lang { display: inline-block; }

    .mobile-nav { display: none; }
}

#page-header {
    background: url(../../img/bg-interna.jpg) top center;

    .container {  min-height: 150px; position: relative; padding: 25px 0 15px;

        .breadcrumbs { color: #FFF; margin-bottom: 10px;
            a { color: #FFF; text-transform: uppercase; font-weight: 300; }
            a { color: #f2f2f2; }
            i.fa { font-size: 14px; }
        }

        .page-title { font-size: 48px; line-height: 51px; color: #FFF; text-transform: uppercase; font-weight: 300; padding: 0; margin: 0; }


        &:after { 
            content: " "; display: block; position: absolute; right: 0; bottom: -20px; width: 105px; height: 20px; 
            background: url(../../img/bg-interna-detalhe.png) top center no-repeat; z-index: 1;
        }
    }

    &.green { background-image: url(../../img/bg-interna-verde.jpg); 

        .container:after { background-image: url(../../img/bg-interna-detalhe-verde.png); }
    }
    &.blog { background-image: url(../../img/bg-interna-blog.jpg);  

        .container  { line-height: 1; height: 290px; padding-top: 110px;  }

        .container:after { background-image: url(../../img/bg-interna-blog-detalhe.png); right: auto; left: -50px; }
    }
}

#page-content { 
    background: url(../../img/bg-gw.png?v3) top center repeat-y; background-size: 100% auto; 

    .content { background: #FFF; height: 100%; padding: 40px 0; padding-left: 20px; width: ~"calc(75% + 20px)"; min-height: 820px;

        .box {
            margin-bottom: 45px;
            .banner {
                img {
                    max-width: 100%;
                    max-height: 310px;
                }
            }
        }
        .content-title {
            font-weight: 300;
            .logo-marca {
                max-width: 200px;
            }
        }
        .content-title-extra { margin-top: -20px; }
        .content-sub-title { font-weight: 300; margin-bottom: 5px; margin-top: 0; } 

    
        .content-section-title { font-size: 36px; color: @gray; font-weight: 300; position: relative; padding-bottom: 0; margin-bottom: 20px;
            span { background: #FFF; display: inline-block; padding-right: 30px; z-index: 1; position: relative; }

            &:after { content: " "; background: @lgray; height: 1px; width: 100%; display: block; position: absolute; top: 50%; margin-top: 3px; z-index: 0; }
        }

        p { color: @gray; }


        .default-list {
            li {  margin: 0 16px 32px; background: transparent; border: 1px solid #cccccc; .borderRadiusAll(5px);
                img { .borderRadius(5px,5px,0,0); max-height:215px; }

                &:nth-child(4n+1) { margin-left: 16px; }
                &:nth-child(4n) { margin-right: 16px; }

                @media (min-width: 1200px) {
                    &:nth-child(3n+1) { margin-left: 0; }
                    &:nth-child(3n) { margin-right: 0; }
                }
                @media (min-width: 991px) and (max-width: 1200px) {
                    &:nth-child(2n+1) { margin-left: 0; }
                    &:nth-child(2n) { margin-right: 0; }
                }
                &:first-child { margin-left: 0; }
            }
        }
        .default-article { 
            li { border: 1px solid @lgray;  background: #FFF }
        }
        
    }
}
#main { overflow-x: hidden; width: 100%; }


.top-carousel { position: relative; margin-bottom: 30px;

    .owl-dots { display: block; line-height: 1; position: absolute; bottom: 10px; right: 10px; text-align: center;  }
    .owl-dot { width: 11px; height: 11px; margin-right: 10px; background: #FFF; .borderRadiusAll(50%); display: inline-block; }
    .owl-dot.active { background: @cta; }
}

.internal-carousel { position: relative; margin-bottom: 30px;
    .item {
        max-width: 100%;
        img {
            max-width: 100%;
        }
    }
    .owl-dots { display: block; line-height: 1; position: absolute; bottom: 10px; right: 10px; text-align: center;  }
    .owl-dot { width: 11px; height: 11px; margin-right: 10px; background: #FFF; .borderRadiusAll(50%); display: inline-block; }
    .owl-dot.active { background: @cta; }
}
.adere-location-box { padding-bottom: 80px;
    .adere-location {
        position: relative; height: 456px; float: left;
        .map { width: 100%; }
        .bullet { position: absolute; }
        .sao-paulo { left: 31%; bottom: 20%; }
        .eua { top: 30%; left: 15%; }
        .africa1 { top: 40%; left: 47%; }
        .africa2 { top: 57%; left: 57%; }
    }

    .adere-location-info { float: right; margin-top: 110px;
        strong { display: block; font-size: 36px; text-transform: uppercase; color: @cta; margin-bottom: 10px; }
        p { font-size: 18px; line-height: 20px; margin-bottom: 20px; }
        .phone {
            font-size: 36px; font-weight: 300;
            i.fa { width: 60px; height: 60px; line-height: 60px; font-size: 30px; border: 2px solid @cta; text-align: center; .borderRadiusAll(50%); color: @cta; margin-right: 10px; }

        }
        
    }
}
.modal { display: none; position: relative; z-index: 10000000000000;
    .modal-data {
        width: 832px; height: 548px; position: fixed; top: 0; left: 50%; margin-left: -416px; z-index: 100;
        .close { text-align: right; color: @gray; text-transform: uppercase; font-weight: bold; margin-bottom: 10px; cursor:pointer; }
        iframe { background: #000; }
    }
    .modal-content-white { background: #FFF; padding: 30px; .borderRadiusAll(10px); }
    .modal-title { font-size: 36px;text-transform: uppercase; font-weight: 300; text-align: center; max-width: 600px; margin: 0 auto; margin-bottom: 40px; }

    .btn-close { color: @gray; text-transform: uppercase; line-height: 50px; font-weight: bold;  }
    .overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 99; }
}

.modal-play { position: relative; display: block; width: 418px; height: 290px; cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    .overlay-play { 
        position: absolute; top: 0; right: 0; width: 100%;  height: 100%; line-height: 290px; background: rgba(0,0,0,0.2); display: block; 
        text-align: center; color: #FFF; font-size: 60px;

        &:hover { color: @cta; background: rgba(0,0,0,0.5); }
    }

    &.modal-play-3col { width: 270px; height: 187px; 
        .overlay-play { line-height: 187px; }
    }
}

.sac { font-size: 21px; line-height: 27px; text-transform: uppercase; color: @gray; margin-top: 30px; margin-bottom: 10px;
    .sac-phone { font-size: 32px; line-height: 32px; font-weight: bold; padding-bottom: 5px; }
    .sac-hours { font-size: 12px; line-height: 16px; padding: 0; margin: 0; }
}
.sac-2 { margin-top: 0; }




/*** FOOTER ***/
#footer { background: @btndark; padding-bottom: 35px;

    .footer-list {

        .title { padding: 75px 0 25px; color: @cta; font-size: 21px; text-transform: uppercase;display: block; }
        ul, li { list-style: none; padding: 0; margin: 0; }

        .footer-list-links a { color: @gray; font-weight: normal; text-transform: uppercase; display: block; margin-bottom: 10px; }
        .footer-list-links a:hover { color: #ffffff; }

    }

}

.msg {
    text-align: center;
    display: none;
    &.success {
        p {
            color: @green;
            margin-bottom: 15px;
            letter-spacing: 1px;
        }
    }
    &.error {
        p {
            color: @cta !important;
            margin-bottom: 15px;
            letter-spacing: 1px;
        }
    }
}
.send-success {
    color: @green;
    margin-bottom: 15px;
    letter-spacing: 1px;
    line-height: 40px;
    border: 1px solid @green;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}
.send-error {
    color: @cta;
    margin-bottom: 15px;
    letter-spacing: 1px;
    line-height: 40px;
    border: 1px solid @cta;
    border-radius: 5px;
    text-align: center;
    display: block;
}
#newsletter { background: @dgray;  color: @lgray; 

    .title { margin-top: 50px; margin-bottom: 55px; font-size: 36px; text-transform: uppercase; text-align: center; color: @lgray; font-weight: 300; }
    
    form {  margin-bottom: 45px; }
    label { width: 100px; display: inline-block; text-transform: uppercase; text-align: right; padding-right: 10px; }
    input { width:  ~"calc(100% - 105px)"; height: 48px; line-height: 48px; padding: 0 10px; background: @lgray; color: #000; border: 0; .borderRadiusAll(2px); }
    input.input-required { border: 1px solid @cta; }
    div.required { color: @cta; text-align: right; margin-top: 5px; display:none; }

}

#copy { 
    height: 100px; line-height: 100px;

    .col-sm-2 { padding-left: 0; }


    a { color: @dgray; }
    a:hover  { color: #848484; }

    img { margin-left: 10px; }
}

.comments {
    .comment-item {
        .btn-open-answer {
            float: right;
            margin-bottom: 15px;
        }
    }
    .comment-answer {
        margin: 10px 10px 10px 40px;
    }
}
