
.form-content {
    .form-group { margin-bottom: 20px;

        label { text-transform: uppercase; color: @gray; display: block; margin-bottom: 5px; }
        .required { float: right; font-size: 12px; line-height: 22px; display: none; }

        input, select, textarea { width: 100%; border: 1px solid @lgray; .borderRadiusAll(3px); padding: 0 10px; }
        input, select { height: 48px; line-height: 48px;  }

        .select2-container .select2-selection--single { border: 1px solid @lgray;   }
        .select2-container .select2-selection--single,
        .select2-container--default .select2-selection--single .select2-selection__rendered { 
            height: 48px; line-height: 48px;  color: @gray; text-transform: uppercase; outline: none; 
            width: 100%;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered { padding: 0 20px; }

        .select2-container--default .select2-selection--single .select2-selection__arrow { }
        .select2-container--default .select2-selection--single .select2-selection__arrow b { display: none; }
        .select2-container--default .select2-selection--single .select2-selection__arrow:after {
            content: "\f078"; font-family: "FontAwesome"; background: transparent; border: 0; font-size: 15px; color: #000; 
            display: block;  width: 20px; height: 15px; position: relative; float: left; color: @gray;
        }
        .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow:after {
            content: "\f077"; font-family: "FontAwesome"; 
        }

        textarea { padding: 10px; }

        &.form-error { 
            label { color: @cta; }
            input, select, textarea { border-color: @cta; }
            .required {
                display: block;
            }
        }
        
    }
}

.form-select2 {
    &.select2-container--default .select2-results__option { border-top: 1px solid darken(#f2f2f2, 10%); color: @dgray; }
    &.select2-container--default .select2-results>.select2-results__options  { background: #FFF; color: #FFF; max-height: 100000px; }
    &.select2-container--default .select2-results__option[aria-selected=true] { background: darken(#f1f1f1, 10%); }
    &.select2-container--default .select2-results__option--highlighted[aria-selected] { background: lighten(#f2f2f2, 10%); }
    &.select2-container--default .select2-search--dropdown .select2-search__field { .borderRadiusAll(3px); outline: none; }
    &.form-select2.select2-container--default .select2-results__option--highlighted[aria-selected] { background: #f2f2f2; }
}
