


.translate3d(@valuesx,@valuesy,@valuesz) {
    transform:         translate3d(@valuesx,@valuesy,@valuesz);
    -moz-transform:    translate3d(@valuesx,@valuesy,@valuesz);
    -ms-transform:     translate3d(@valuesx,@valuesy,@valuesz);
    -o-transform:      translate3d(@valuesx,@valuesy,@valuesz);
    -webkit-transform: translate3d(@valuesx,@valuesy,@valuesz);
}
.transform(@valuesx) {
    transform:         @valuesx;
    -moz-transform:    @valuesx;
    -ms-transform:     @valuesx;
    -o-transform:      @valuesx;
    -webkit-transform: @valuesx;
}
.backgroundSize (@value){
    background-size: @value;
    -moz-background-size: @value;
    -ms-background-size: @value;
    -o-background-size: @value;
    -webkit-background-size: @value;
}
.transition(@value){
    transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    -webkit-transition: @value;

}
.opacity(@value, @valueie) {
    filter: alpha(opacity=@valueie);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@valueie)";
    opacity: @value; 
    -khtml-opacity: @value;
    -moz-opacity: @value;
}
.borderRadius(@top,@left,@bottom,@right) {
    border-radius: @top @left @bottom @right;
    -moz-border-radius: @top @left @bottom @right;
    -webkit-border-radius: @top @left @bottom @right;
}
.borderRadiusAll(@border) {
    border-radius: @border;
    -moz-border-radius: @border;
    -webkit-border-radius: @border;
}
.borderRadiusAllImportant(@border) {
    border-radius: @border !important;
    -moz-border-radius: @border !important;
    -webkit-border-radius: @border !important;
}
.borderRadiusImportant(@top,@left,@bottom,@right) {
    border-radius: @top @left @bottom @right !important;
    -moz-border-radius: @top @left @bottom @right !important;
    -webkit-border-radius: @top @left @bottom @right !important;
}
.doGradient(@from,@to) {
    background: @from; /* Old browsers */
    background: -moz-linear-gradient(top,  @from 0%, @to 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@from), color-stop(100%,@to)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @from 0%,@to 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @from 0%,@to 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @from 0%,@to 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @from 0%,@to 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@from', endColorstr='@to',GradientType=0 ); /* IE6-8 */
}

