
/*** BLOG POST ***/
.post {
    padding-bottom: 30px; margin-bottom: 50px; border-bottom: 1px solid @lgray;
    .post-image {
        margin-bottom: 20px;
        text-align: center;
        img {
            max-width: 100%;
            max-height: 440px;
        }
    }
    .post-info { font-size: 13px; color: @gray; margin-bottom: 10px; }
    .post-date { display: inline-block; margin-right: 10px; color: @gray; }
    .post-comments-count { display: inline-block; margin-left: 10px; color: @gray; }
    .post-title, .post-title a { font-size: 32px; color: @cta; font-weight: 300; margin-bottom: 20px; }
    .post-title a:hover { color: #f15353; }
    .post-link.more { color: #000; text-transform: uppercase; font-weight: 600; }
}
.comments {
    .comment-item { border-top: 1px solid @lgray; padding-top: 20px; padding-bottom: 20px; }

    .comment-aswer .comment-data { padding-left: 40px; }
    font-weight: normal;
    img { width: 100%; height: auto; }
    .title { margin-bottom: 5px; }
    .comment-content { color: @gray; margin-bottom: 20px; }
    .answer { color: @cta; } 
    .answer i.fa { font-size: 13px; }
}
.navigation {
    text-align: center; line-height: 36px;
    a { color: #000; text-transform: uppercase; }
    a:hover { color: #353535; }
    i.fa { font-size: 14px; }
    .link-prev { float: left;  }
    .link-next { float: right; }

    .navigation-pages { display: inline-block; 
        li { display: inline-block; list-style: none; }
        .navigation-item { display: block; width: 36px; height: 36px; line-height: 36px; .borderRadiusAll(50%); margin: 0 3px; color: #000; }
        .navigation-item:hover, .navigation-item.active { color: #FFF; background: #000; text-decoration: none; }
    }
}






.home-banner {
    .home-banner-list {  padding: 0; list-style: none; text-align: left; background: #FFF center center; position: relative;
        a {display: block; height: 650px; background-size:  cover; position: relative; color: #FFF;}
        span { display: block;  }
        .pre { font-size: 21px; text-transform: uppercase; margin-bottom: 10px; }
        .title { font-size: 52px; line-height: 52px; font-weight: bold; text-transform: uppercase; max-width: 570px; margin-bottom: 20px; }

        .banner-image, .banner-text { float: right; height: 650px; line-height: 650px; }
        .banner-text { float: left; color: #FFF;  }

        .banner-image img { display: inline-block;max-width: 445px; max-height: 456px; }

        .banner-text-content {  display: inline-block;  line-height: 1; vertical-align: middle; }
        a:hover { color: #f2f2f2; }
    }
    .owl-stage-outer {
        line-height: 650px;
        .owl-item {
            > div {
                background-size: cover;
            }
        }
    }
    .owl-dots-content { position: absolute; width: 10px; height: 650px; line-height: 650px;display: block; top: 0; right: 30px; 
        .owl-dots { display: inline-block; line-height: 1; }
        .owl-dot { width: 10px; height: 10px; background: #FFF; .borderRadiusAll(50%); display: inline-block; }
        .owl-dot.active { border: 2px solid #FFF; background: @cta; }
    }
}

.home-search { position: relative; margin-top: -54px; z-index: 1;
    .home-search-form { 
        background: @box; height: 108px; .borderRadiusAll(10px); box-shadow: 0 0 5px rgba(0,0,0,0.2); 
        padding: 30px 0; line-height: 50px;

        label { font-size: 32px; text-transform: uppercase;  color: @gray; display: block; width: 100%; text-align: center; }
        
        input { height: 50px; float: left; border: 0; outline: none; width: ~"calc(100% - 180px)"; background: @lgray; text-transform: uppercase; padding: 0 10px; }
        
        select { width: 130px; outline: none; }

        button { 
            width: 48px; height: 48px; .borderRadiusAll(50%); margin-left: -24px; margin-top: 1px; background: @cta; border: 0; 
            .icon-search { background: url(../../img/sprites.png?v2) -200px 0 no-repeat; width: 18px; height: 18px; display: inline-block; margin-top: 14px;  }
        }
        button:hover { background: darken(@cta, 10%); }
            
        .select2-container { float: left; background: @cta; .borderRadius(50px,0,0,50px); outline: none;   }
        .select2-container.select2-container--open { .borderRadius(30px,0,0,0px); outline: none;  }
        .select2-container.select2-container--open.select2-container--above { .borderRadius(0,0,0,30px); outline: none;  }
        .select2-container .select2-selection--single,
        .select2-container--default .select2-selection--single .select2-selection__rendered { 
            height: 50px; line-height: 50px;  text-align: left; background: @cta; color: #FFF; text-transform: uppercase; border: 0; outline: none; .borderRadius(50px,0,0,50px); 
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered { padding: 0 20px; }

        .select2-container--default .select2-selection--single .select2-selection__arrow { top: 9px; right: 10px; }
        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border: 0; width: 14px; height: 9px; background: url(../../img/sprites.png?v2) -200px -26px no-repeat;
        }
        .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
            background-position-y: -38px;
        }
    }
}
.home-select2 {
    &.select2-container--open .select2-dropdown { border: 0;  }
    &.select2-container--default .select2-results__option { border-top: 1px solid darken(@cta, 10%); }
    &.select2-container--default .select2-results>.select2-results__options  { background: @cta; color: #FFF; max-height: 100000px; }
    &.select2-container--default .select2-results__option[aria-selected=true] { background: darken(@cta, 10%); }
    &.select2-container--default .select2-results__option--highlighted[aria-selected] { background: lighten(@cta, 10%); }
}


.home-atuacao {
    background: url(../../img/bg-pixel.png); margin-top: -54px; padding-top: 100px;

    .section-header { text-align: center; }


    .atuacao-tabs { margin-top: 50px; margin-bottom: 30px;
        .atuacao-tab { width: ~"calc(100%/11)"; float: left; text-align: center; cursor: pointer; height: 130px;
            p { font-size: 14px; line-height: 14px; text-transform: uppercase; color: @gray; font-weight: bold; margin-top: 15px;  }
            .divisor { display: none; }
            img { .opacity(0.5,50)  }
        }
        .atuacao-tab.active, .atuacao-tab:hover {
            p { color: @dgray; }
            img {  .opacity(1,100)  }
            .divisor { display: block; margin: 0 auto; }
        }
    }

    .atuacao-tabs-content { margin-top: 0px; position: relative;

        .row { height: 660px;  }
    
        .tab-content, .tab-image > div { height: 660px; line-height: 660px; display: block; vertical-align: middle; text-align: center;
            figure { display: inline-block; vertical-align: middle; line-height: 1; }
        }
        .tab-image img { display: inline-block; }

        .tab-content-item { line-height: 1; vertical-align: middle; display: inline-block; text-align: left;

            .divisor { margin-top: 20px; } 

            p { margin-top: 20px; margin-bottom: 30px; }

            a { font-weight: bold; text-transform: uppercase; color: @dgray; }
            a:hover { color: #848484; }
        }
    
        .owl-nav .owl-next, .owl-nav .owl-prev { position: absolute; top: 50%; margin-top: -25px; width: 50px; height: 50px; line-height: 50px; text-align: center; background: @cta; .borderRadiusAll(50%); }
        .owl-nav .owl-next { right: -60px; }
        .owl-nav .owl-prev { left: -60px; }
        .owl-nav .owl-next:hover, .owl-nav .owl-prev:hover { background: #FFF; }
    }
}


.home-brands { padding-top: 90px; padding-bottom: 90px;

    .section-header { text-align: center; }


    .home-brand-list { list-style: none; padding: 0; margin: 0; text-align: center; margin-top: 45px;
        li { display: inline-block;  margin-bottom: 30px; padding: 0 6px;
            img {
                max-width: 180px;
                max-height: 80px;
            }
        }

        @media (min-width: 1200px) {
            li:nth-child(5n+1) { padding-left: 0; }
            li:nth-child(5n) { padding-right: 0; }
        }
    }
}


.home-products { padding-bottom: 90px;

    .section-header { text-align: center; }

    
     .default-list li { padding-bottom: 30px; 
        .title-container { margin-bottom: 10px; }
     }
     .default-list li .btn-border { margin-top: 10px;  }
}

.home-banner-product {
    background: url(../../img/bg-home-section1.jpg) top center; height: 500px; position: relative; margin-bottom: 80px;
    
    .box { display: inline-block; line-height: 1; width: 470px;  color: #FFF; padding-top: 120px;

        .title { font-weight: normal; text-transform: uppercase; line-height: 0.9; margin-bottom: 15px; }
        p { font-size: 21px; margin-bottom: 60px; }
    }

    .banner-product-img { position: absolute; top: -30px; left: 50%; }
}

.home-posts { padding-bottom: 90px;

    .section-header { text-align: center; }
}

.home-adere { padding-bottom: 120px;

    .sobre-50anos .box { 
        width: 100%; height: 300px; background: url(../../img/bg-home-box1.png?v2) top center; .borderRadiusAll(10px); text-align: center;
        padding: 40px 0 0; margin-bottom: 20px;

        .title { color: #c3965b; font-size: 36px; margin: 0; padding: 0; }
        p { color: @gray; font-size: 21px; max-width: 300px; margin: 0 auto; display: block; margin-bottom: 20px; margin-top: 10px; }
        .btn-red-active { height: 40px; line-height: 40px; }
    }

    .adere-numero .box { 
        width: 100%; height: 300px; background: url(../../img/bg-pixel.png) 0 0; .borderRadiusAll(10px); text-align: center; 

        .title { font-size: 36px; font-weight: 300;  margin-bottom: 20px; padding-top: 30px; }

        ul li { list-style: none; display: inline-block; width: 166px; height: 166px; border: 1px solid @lgray; .borderRadiusAll(50%); margin: 0 2px;
            
            strong { display: block; font-size: 48px; margin-bottom: 0; line-height: 48px; padding-top: 30px; }
            p { text-transform: uppercase; margin-top: 5px; }
        }
    }
}

.page-institucional {
    .table-conceitos {
        width: 100%; margin-top: 60px;

        td { vertical-align: top; padding-bottom: 20px; }

        h4 { font-size: 24px; line-height: 24px; margin: 0; padding: 0;  }
        
        .image { width: 145px; padding-top: 5px; }
    }
    .adere-location-box { padding-bottom: 0; }
    .adere-location { width: 504px; height: 296px; margin-left: 40px; float: left; }
    .adere-location-info { float: right; width: 303px; margin-top: 35px;
        
    }
}

.page-certificacoes {
    .table-certificacoes { width: 100%;  margin-bottom: 60px;

        td {  vertical-align: top; }
        .image { padding-right: 20px; }
    }
}

.page-responsabilidade {
    .default-list {
        li {  
            .title-container { height: 112px; line-height: 112px; }
            .title { font-size: 20px; text-transform: none; padding: 0 20px; line-height: 27px; }
        }
    }


}
.page-parcerias {

    .default-list {
        li {  
            padding-top: 0;
            .title-container { height: 77px; line-height: 77px; }
            .title { font-size: 14px; padding: 0 20px; line-height: 22px; 
                strong { font-size: 18px; }
            }
        }
        figure { padding: 0;  height: 187px; }
    }
    .modal-play { position: relative; display: block; width: 100%; height: 187px;
        
        .overlay-play { 
            position: absolute; top: 0; right: 0; width: 100%;  height: 100%; line-height: 187px; background: rgba(0,0,0,0.2); display: block; 
            text-align: center; color: #FFF; font-size: 60px;

            &:hover { color: @cta; background: rgba(0,0,0,0.5); }
        }
    }

    .depoimentos-carousel {
        .item { background: url(../../img/aspas-open.png) 0 0 no-repeat; padding-left: 100px; padding-top: 10px; padding-bottom: 30px; }
        
        p img { width: auto; height: auto; display: inline-block; margin-bottom: -5px; }    

        table { width: 100%;
            img { width: 77px; height: 77px; .borderRadiusAll(50%) }
            .image { width: 100px; }

            .name { font-size: 24px; font-weight: 300;  line-height: 24px; margin: 0; padding: 0; }
            p { text-transform: uppercase; font-size: 14px; margin: 0; padding: 0; }
        }

        .owl-dots .owl-dot { background: @lgray; }
        .owl-dots .owl-dot.active { background: @cta; }
    }
    
}

.page-marca {


}

.page-solucoes, .page-mercado {
    .solucoes-carousel { width: 470px;  float: left; text-align: center;
        .owl-dots { position: relative; bottom: 35px; right: auto; }
        .item {
            border: 1px solid @lgray; .borderRadiusAll(5px);
            width: 468px;
            margin-bottom: 15px;
            height: 368px;
            text-align: center;
        }
    }
    .solucoes-info {
         float: right; width: 380px;
        &.content-middle {
            width: 377px;
        }
        &.content-total {
            width: 100%;
        }
    }

    .brand-list {
        .brand-item { float: left; margin: 0 10px 20px; max-width: 160px;
            img { .borderRadiusAll(3px); width: 100%; }
        }

        .brand-item:nth-child(5n+1) { margin-left: 0; }
        .brand-item:nth-child(5n) { margin-right: 0; }

        &:after { content: " "; display: block; clear: both; }
    }

    #page-content .content .default-list figure { border-bottom: 1px solid @lgray; }
    #page-content .content .default-list li { background: transparent; border: 1px solid @lgray; }
}
.page-solucoes-item, .page-mercado-item {
    .solucoes-carousel.top-carousel { margin-bottom: 0; }

    .share-bar  { padding-bottom: 50px; display: block; } 

    .marca-logo { margin-bottom: 20px; }
}

.page-faq {
    .faq-header { 
        line-height: 48px; color: @gray;
        .text-right { right: -10px; }
    }

    .faq-item {
        background: @box; border: 1px solid @lgray; .borderRadiusAll(7px); padding: 15px 20px; margin-bottom: 10px;
        
        .faq-content { display: none; padding: 20px 0 0; margin: 0; }
        .faq-question{ font-size: 18px; color: @dgray; }
        .faq-operation {
            font-weight: bold; text-align: right; 
            
            span { cursor: pointer; }
            .faq-close { display: none; }
        }

        &.open {
            .faq-close { display: block; }
            .faq-open { display: none; }
        }
    }
}

.page-blog {
    
    #page-content  { background: #FFF;
        .content { width: 75%; padding-left: 0; }
        .page-sidebar { width: 25%; padding-left: 40px; }
    }
}
.page-blog-item {
    .post { border-bottom: 0; margin-bottom: 0; }
    .post .post-title { margin-bottom: 10px; }
    .post .post-image { margin-bottom: 5px; }
}

.page-contato, .page-ouvidoria {
    p { font-size: 20px; line-height: 28px; font-weight: 300; }
}

.page-banco-imagens {
    #page-content .content p.btn-galeria { margin-top: 10px; text-align: center; }
    #page-content .content p { text-align: center; }
}


.page-404 {
    #header-404 { padding: 60px 0; margin-bottom: 100px;
        background: @cta; color: #FFF;

        img { max-width: 100%; }

        .page-title { font-weight: bold; font-size: 165px; line-height: 185px; margin: 0; padding: 0; margin-bottom: 40px; margin-top: 130px;
            small { font-size: 36px; line-height: 46px; display: block; }
        }
    }
}

.ui-widget-content {
    &.ui-autocomplete {
        display:block;
        background: @lgray;
        width:460px !important;
        z-index: 200;
        li {
            list-style: none;
            padding: 10px;
            cursor:pointer;
            &:hover {
                background: #fcfcfc;
            }
        }
    }
}
.msg-error {
    line-height: 24px;
    margin-top: -22px;
    margin-bottom: 10px;
    text-align: center;
    color:@cta;
    display: none;
}
