
@media (min-width: 1201px) {

    .default-list li:nth-child(4n+1) { margin-left: 0; }
    .default-list li:nth-child(4n) { margin-right: 0; }



}

@media (min-width: 991px) {

    body { padding-top: 100px; }
 
    #header {
        position: fixed;  top: 0;  transition: all 0.2s ease-in-out,  height 0.2s ease-in-out;  width: 100%,  line-height 0.2s ease-in-out;  width: 100%; background: #FFF; z-index: 10000;
        
        .logo img { height: 57px; }
        .logo, .logo img { -webkit-transition: all .2s ease-out;
                        -moz-transition: all .2s ease-out;
                        -ms-transition: all .2s ease-out;
                        -o-transition: all .2s ease-out;
                        transition: all .2s ease-out; }

        &.nav-up {
          top: -100px; 
        }
        &.has-top {
            height: 60px; line-height: 60px;
            

             .logo a { line-height: 60px; }
             .logo img { height: 40px; }

        }

        .container { position: relative; }

        .nav, .nav-lang { display: block;

            &.nav-lang { float: right; }

            > ul { display: inline-block; float: left; }

            .show-mobile { display: none; }

            .nav-item { float: left; list-style: none; 
                > a { display: inline-block; padding: 0 15px; color: #1d1d1d; text-transform: uppercase; }
                > a:hover { color: #353535; }
            }
            .nav-item.lang a { 
                display: inline-block; padding: 0; width: 34px; height: 34px; line-height: 34px; text-align: center;
                .borderRadiusAll(50%); font-size: 14px; 
            }
            .nav-item.lang:hover a, .nav-item.lang.active a { background: @lgray; font-weight: bold; color: #8b867e; }
            .nav-item.lang a:hover { text-decoration: none; }

            .has-sub { 
                
                i.fa { float: right; line-height: 33px; margin-right: 5px; }
                    i.fa-chevron-right { display: none; }

                &:hover {
                    .sub { display: block; }
                    > a {  border-bottom: 1px solid @lgray; }


                    // i.fa-chevron-right { display: inline-block; }
                    // i.fa-chevron-down { display: none; }
                    // i.fa-chevron-right { display: none; }
                }
                .sub { 
                    background: #f1f1f1; padding: 7px 0; 
                    li { padding-left: 20px;  
                        
                        a { border-top: 0; line-height: 25px;  }
                    }

                    
                }
            }

            .nav-about { position: relative;
                > a { height: 40px; line-height: 40px; }
                &:hover > a { background: @cta; color: #FFF; text-decoration: none; .borderRadius(5px,5px,0,0); z-index: 1000; position: relative; }


                &:hover .nav-institucional {  display: block; }

                .nav-institucional {  display: none; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
                    position: absolute; background: #fafafa url(../../img/bg-menu-detalhe.png) left -2px no-repeat; top: 70px; left: 0; 
                    z-index: 999; width: 210px;  padding: 0; padding-top: 20px; margin: 0;

                    li { list-style: none; }
                    li:hover { text-decoration: none; background: @lgray; margin-bottom: -1px; }

                    a { 
                        height: 33px; line-height: 33px; display: block; margin: 0 10px; border-top: 1px solid @lgray; color: @gray; 
                        text-transform: uppercase; font-size: 14px;

                        &:hover { text-decoration: none; color: #353535; }


                    }


                    i.fa-chevron-down { display: none; }
                    i.fa-chevron-right { display: inline-block; }

                    // i.fa-chevron-down { display: inline-block; }
                    // i.fa-chevron-right { display: none; }
                    .sub {display: none; 
                    
                        li a { line-height: 33px;  }

                        

                    }

                    .has-sub.active {

                        i.fa-chevron-down { display: inline-block; }
                        i.fa-chevron-right { display: none; }
                        
                        .sub { display: block; }
                    }
                }
            }
            .nav-solutions { 



                > a { height: 40px; line-height: 40px; position: relative; }

                &:hover > a { background: @cta; color: #FFF; text-decoration: none; .borderRadius(5px,5px,0,0); z-index: 1000; position: relative;  z-index: 1000; position: relative;  }

                &:hover > a:after { content: " "; display: block; background: @cta; height: 30px; margin-left: -15px; margin-right: -15px; }
                &:hover > a:before { content: " "; display: block; background: url(../../img/bg-menu-detalhe.png) center 0px no-repeat; height: 13px; width: 100%; margin-left: -15px; margin-right: -15px; bottom: -40px; position: absolute;  }

                &:hover .nav-solutions-items {  display: block; }
                .nav-solutions-items { 
                    position: absolute; top: 95px; right: 0; z-index: 999; width: 100%; background: #fafafa; border-top: 5px solid @cta; .borderRadius(5px,5px,5px,5px); 
                    padding: 10px 0 10px; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); display: none;

                    li { list-style: none; }
                    .has-sub:hover > a { border: 0;  }

                    a { 
                        line-height: 33px; display: block; margin: 0 10px; color: @gray; text-transform: none; 
                        text-transform: uppercase; font-size: 14px;

                        &:hover {  border: 0; color: #353535; }
                    }
                    .title { font-size: 21px; color: @dgray; text-transform: none; font-weight: bold; }
                    .title:hover { text-decoration: underline; }
                    .sub { background: none; margin-bottom: 20px; }
                    .sub li { padding: 0; }
                    .sub li a { text-transform: none; font-size: 16px; }
                    .sub li a:hover { text-decoration: underline; }

                    .banner { display: block; margin-top: 20px; 
                        img  { width: 100%; max-height: 185px; }
                    }
                }


            }
            .nav-market { 



                > a { height: 40px; line-height: 40px; position: relative; }

                &:hover > a { background: @cta; color: #FFF; text-decoration: none; .borderRadius(5px,5px,0,0); z-index: 1000; position: relative;  z-index: 1000; position: relative;  }

                &:hover > a:after { content: " "; display: block; background: @cta; height: 30px; margin-left: -15px; margin-right: -15px; }
                &:hover > a:before { content: " "; display: block; background: url(../../img/bg-menu-detalhe.png) center 0px no-repeat; height: 13px; width: 100%; margin-left: -15px; margin-right: -15px; bottom: -40px; position: absolute;  }

                &:hover .nav-market-items {  display: block; }
                .nav-market-items { 
                    position: absolute; top: 95px; right: 0; z-index: 999; width: 872px; background: #fafafa; border-top: 5px solid @cta; .borderRadius(5px,5px,5px,5px); 
                    padding: 15px; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); display: none;

                    .banner {
                        img {
                            max-width: 100%;
                            max-height: 474px;
                        }
                    }

                    .row { margin: 0; }

                    .sub {
                        border: 1px solid @lgray; padding: 10px 0; margin: 0; background: none; .borderRadiusAll(5px); width: 254px; min-height: 710px;

                        > li { list-style: none; padding: 0; }
                        > li > a {
                            line-height: 19px; display: block; color: @gray; text-transform: none; font-weight: bold;
                            font-size: 16px; padding: 10px 15px 10px 10px;
                            position: relative;
                            i.fa-chevron-right { display: inline-block; float: right; font-size: 14px; height: 33px; line-height: 33px;
                                position: absolute; right:15px; top:50%; transform: translateY(-50%);}

                            &:hover {  background: #e2e2e2; text-decoration: none; color: #353535; }
                        }
                        .sub-has-sub a { color: @dgray; font-weight: 600; }
                        .sub-has-sub a:hover { color: #848484; }
                        .sub-has-sub.active > a { color: @cta; }

                        .sub-sub { position: absolute; top: 3px; left: 280px; width: 330px; display: none;
                            li { list-style: none; padding: 0; margin: 0; height: auto;line-height: 24px;  }
                            li:first-child {padding-top: 15px; }
                            li a { font-size: 16px; line-height: 24px; font-weight: normal; color: @gray; }
                            li a:hover { color: #353535; }

                            .read-more-market { position: absolute; left: 0; bottom: -82px;  font-size: 18px; line-height: 24px; font-weight: bold; color: @cta; width: 100%;
                                img { float: left; margin-right: 5px; top: -6px; position: relative; }
                            }
                        }
                        .sub-has-sub.active .sub-sub { display: block; }

                    }

                }


            }
        }
    }


    .home-select2.select2-container--open .select2-dropdown { width: 300px !important;  }
}


@media (min-width: 991px) and  (max-width: 1200px) {

    .home-banner .home-banner-list .banner-text { width: 500px; }
    .home-banner .home-banner-list figure { width: 400px; }
    
    .default-list { text-align: center; }
    .default-list li { display: inline-block; float: none;  }
    .default-list li:nth-child(3n+1) { margin-left: 0; text-align: center; }
    .default-list li:nth-child(3n) { margin-right: 0; }

    .page-home .default-list li:last-child { display: none; }




    #page-content .content .default-list { text-align: left; }
    #page-content .content .default-list li { width: ~"calc(50% - 20px)";  text-align: center; padding-top: 10px;}
    .page-parcerias #page-content .content .default-list li { padding-top: 0; }
    #page-content .default-list.default-imagem li { padding-top: 0; }
    .page-parcerias .modal-play { display: inline-block; }


    .modal-play.modal-play-3col .overlay-play, .modal-play { width: 100%; height: 154px; line-height: 154px; margin-bottom: 20px; }
    .modal-play.modal-play-3col { width: 100%; height: 154px;  }
    .modal-play.modal-play-3col, .overlay-play, .modal-play .overlay-play { line-height: 154px; }
    .modal-play.modal-play-3col img,  .overlay-play, .modal-play img { width: 100%; float: left; }

    .box-list a { font-size: 14px; }

}


@media (min-width: 768px) and  (max-width: 991px) {

    .home-banner .home-banner-list .banner-text { width: 500px; }
    .home-banner .home-banner-list figure { width: 400px; }

    .page-home .default-list {
        li {  margin: 0 8px 16px !important; }
        li:last-child { display: inline-block; }
        li:nth-child(2n+1) { margin-left: 0 !important; text-align: center; }
        li:nth-child(2n) { margin-right: 0 !important; }
    }

    .page-banco-imagens, .page-nossas-solucoes {
        #page-content  .content .default-list li { margin: 0 0 20px !important; }
    }
    
    .default-list { text-align: center; }
    .default-list li { display: inline-block; float: none; margin-bottom: 20px;  }
    .default-list li:nth-child(2n+1) { margin-left: 0; text-align: center; }
    .default-list li:nth-child(2n) { margin-right: 0; }

    .home-banner .home-banner-list a { height: 450px; line-height: 450px;  }
    .home-banner .home-banner-list a .banner-image, .home-banner .home-banner-list a .banner-text { width: 355px; height: 450px; line-height: 450px; }
    .home-search .home-search-form label { font-size: 26px; text-align: right; }

    .contaisner { background: #f3f3f3; }
    #header .nav .nav-item.padding-left { margin-left: 15px; }
    #header .nav .nav-item > a { padding: 0 7px; }
    #header .nav .nav-market .nav-market-items { width: 768px; }
    #header .nav .nav-market:hover > a:after,
    #header .nav .nav-solutions:hover > a:after,
    #header .nav .nav-market:hover > a:before,
    #header .nav .nav-solutions:hover > a:before { margin: 0 -7px; }
    #header .nav .nav-market .nav-market-items .sub .sub-sub { width: 450px; }


    #page-content  .content  {
        .default-list {text-align: center; }
        .default-list li  { width: 90%; float: none; margin-bottom: 0; }

        .default-list li:nth-child(3n+1), .default-list li:nth-child(4n) { margin-left: 10px; }
        .default-list li:nth-child(3n), .default-list li:nth-child(4n+1) { margin-right: 10px; }
        .default-list li:nth-child(2n+1) { margin-left: 0; text-align: center; }
        .default-list li:nth-child(2n) { margin-right: 0; clear: right; }
    }



    .home-atuacao .atuacao-tabs-content { margin-bottom: 40px; }
    .home-atuacao .atuacao-tabs-content .row,
    .home-atuacao .atuacao-tabs-content .tab-content, .home-atuacao .atuacao-tabs-content .tab-image a { height: 400px; line-height: 400px; }

    .home-atuacao .atuacao-tabs-content .row .col-sm-1 { display: none; }
    .home-atuacao .atuacao-tabs-content .row .col-sm-5 { width: 50%; }
} 


@media (max-width: 1200px) {

    .page-contato .btn-full, .page-ouvidoria .btn-full { min-width: 150px; float: right; }
    .post .post-image img { width: 100%; }

    .page-sidebar .sidebar-list .sidebar-list-item .image { text-align: center; }

    .post-article img { max-width: 100%;  }

    .top-carousel .item img { width: 100%; }


    .page-solucoes .solucoes-carousel, .page-mercado .solucoes-carousel { width: 343px; margin-right: 10px; 
        img { width: 343px; }
    }
    .page-solucoes .solucoes-carousel .item, .page-mercado .solucoes-carousel .item { width: 343px; height: 341px; }
    .page-solucoes .solucoes-info, .page-mercado .solucoes-info { width: 340px; }


    .page-solucoes .solucoes-info, .page-mercado .solucoes-info { margin-bottom: 30px; }

    .page-solucoes .brand-list .brand-item, .page-mercado .brand-list .brand-item { margin: 0 12px 20px 0 !important; }

    .page-sidebar .box-bordered { width: ~"calc(100% - 20px)"; }

    .page-sidebar .box img { width: ~"calc(100% - 20px)"; height: auto; }


    #page-content .content .box > a > img { width: 100%; }

    .adere-location-box .adere-location { height: auto; }


    .page-institucional .adere-location  { width: 100%; margin-left: 0; float: none; height: auto; }
    .page-institucional .adere-location-info { width: 100%;  float: none; text-align: center;  }


    #copy { line-height: 22px; padding: 30px 0; }
    #copy img { height: 36px; }

}
@media (max-width: 990px) {


    #header .container { position: relative;

        .mobile-nav { display: block; }
        .mobile-nav { position: absolute; top: 35px; right: 20px; color: @dgray; font-size: 18px;  line-height: 34px; cursor: pointer; text-transform: uppercase; 
            i.fa { display: inline-block; width: 34px; font-size: 18px; height: 34px; line-height: 34px; text-align: center; background: @cta; color: #FFF;  .borderRadiusAll(50%); }
        }
        .nav-lang { display: block; padding-right: 100px;

            > ul { display: inline-block; float: left; }

            .show-mobile { display: none; }

            .nav-item { float: left; list-style: none; 
                > a { display: inline-block; padding: 0 15px; color: #1d1d1d; text-transform: uppercase; }
                > a:hover { color: #353535; }
            }
            .nav-item.lang a { 
                display: inline-block; padding: 0; width: 34px; height: 34px; line-height: 34px; text-align: center;
                .borderRadiusAll(50%); font-size: 14px; 
            }
            .nav-item.lang:hover a, .nav-item.lang.active a { background: @lgray; font-weight: bold; color: #8b867e; }

            .nav-item.lang a:hover { text-decoration: none; }
        }
        .nav { 
            display: none; position: absolute; top: 100px; left: 0; width: 100%; z-index: 10000; background: #FFF; 
            line-height: 1; border-top: 1px solid @box; padding: 20px 20px 20px; box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
            > ul { display: block; }
            li { list-style: none; }
            li ul { padding-left: 0px;  }
            // .nav-institucional { height: auto !important; }
            .banner { display: none; }
            img { display: none; }
            .has-sub { padding: 0; }

            .nav-item >ul > li { margin-bottom: -1px; }

            
            li ul > li a { padding-left: 20px; }
            li ul > li li a { padding-left: 40px; }

            a { color: #1d1d1b; font-weight: bold; }
            a:hover { color: #1d1d1b; }
            
            .has-sub > a {  border-bottom: 1px solid @box;  }
            
            > ul.menu > li {


                border-bottom: 1px solid @box; 

                &:last-child {
                     border-bottom: 0; 
                }

                // &:hover { background: @box; }

                > a { font-size: 20px; line-height: 35px; text-transform: uppercase; display: block; position: relative; } 
                a {
                    .show-mobile { 
                        position: absolute; content: "\f054"; font-family: "FontAwesome"; width: 35px; height: 35px; line-height: 35px; 
                        right: 0; text-align: center; color: @lgray; font-size: 16px; text-align: center; cursor: pointer;
                    }
                }
                // > a i:hover { background: @lgray; color: #FFF; }
            } 

            li { border-bottom: 1px solid @box; }
            
            // > ul.menu > li > ul > { border-bottom: 0; }
            > ul.menu > li ul { display: none; width: 100%; 
                
                a {
                    position: relative;
                    .show-mobile { 
                        top: 0;
                    }
                }

                a { font-weight: normal; color: @dgray; }

                // .sub-sub { margin-bottom: 20px; }
                .sub-has-sub { border-bottom: 0; }
                .sub-has-sub > a { border-bottom: 1px solid @box; }

                li { border-bottom: 1px solid @box; display: block; width: 100%; }
                ul:last-child li:last-child { border-bottom: 0; }
                a { line-height: 33px; display: block; width: 100%; }
                i.fa { display: none; }
                i.show-mobile.fa { display: block; }
            }


            .padding-left { padding: 0; margin: 0; }
            .nav-market-items {
                .pull-right, .read-more-market { display: none; }
                .pull-left { float: none; }
            }
        }
    }
    

    #header .container .nav .nav-item ul { display: none; }

    #page-content { background: none;
        .page-sidebar { display: none; }
        .content { width: 100%; padding: 40px 20px; }
    }
    .page-contato #page-content, .page-ouvidoria #page-content { background: none;
        .page-sidebar { display: block; width: 100%; padding-top: 0; padding-bottom: 0; margin-bottom: 0; margin-top: 40px; }
        .page-sidebar .box { width: auto; margin: 0 20px; margin-bottom: 20px; }
        .page-sidebar .box-bordered, .page-sidebar .sidebar-title { width: 100%;    }
        .page-sidebar .box:last-child { margin-bottom: 0; }
    }
    
    .home-atuacao .atuacao-tabs {   padding: 0 50px; 
        .atuacao-tab { width: 100%; margin-bottom: 10px; height: 150px; text-align: center;  } 

        img { max-width: 100%; width: auto; display: inline-block; }


        .owl-nav .owl-next, .owl-nav .owl-prev { position: absolute; top: 50%; margin-top: -25px; width: 50px; height: 50px; line-height: 50px; text-align: center; background: @cta; .borderRadiusAll(50%); }
        .owl-nav .owl-next { right: -10px; }
        .owl-nav .owl-prev { left: -10px; }
        .owl-nav .owl-next:hover, .owl-nav .owl-prev:hover { background: #FFF; }

    }
    .default-list, .home-brand-list {

        .owl-dots { display: block; line-height: 1; text-align: center; margin-top: 20px; }
        .owl-dot { width: 11px; height: 11px; margin-right: 10px; background: @gray; .borderRadiusAll(50%); display: inline-block; }
        .owl-dot.active { background: @cta; }
    }

    .page-home .default-list li { float: none; }
 
    .home-banner-product {
        height: auto; padding-bottom: 50px;
        .box { width: 100%; text-align: center; }
    }
    .home-atuacao .atuacao-tabs {display: none; }

    .modal .modal-data { width: 100%; margin-left: 0; left: 0; 
        .close { margin-right: 10px; }
        .modal-content { margin: 0 10px; }
    }
    .modal .modal-data iframe { width: 100%; }

    .adere-location-box .adere-location-info { margin-top: 0; }
    .home-banner-product .banner-product-img { display: none; }
    .modal-play.modal-play-3col .overlay-play, .modal-play { width: 100%; height: auto; line-height: inherit; margin-bottom: 20px; }
    .modal-play.modal-play-3col { width: 100%; height: auto; line-height: auto;  }
    .modal-play.modal-play-3col, .overlay-play, .modal-play .overlay-play { line-height: auto; }
    .modal-play.modal-play-3col img,  .overlay-play, .modal-play img { width: 100%; float: none; }
    .home-atuacao .atuacao-tabs-content { padding: 0 30px; 

        .section-title { font-size: 36px; }
        .owl-nav .owl-next { right: -20px; }
        .owl-nav .owl-prev { left: -20px; }
    }
}

@media (max-width: 910px) {

    #page-content .content .default-list .owl-item {
        padding: 0 20px;
        li { width: 100%; }
    }


}
@media (max-width: 767px) {
    
    .section-title { font-size: 36px; }
    #page-header .container { min-height: 150px; height: auto; }
    #page-header .container { padding: 35px 20px 0; }


    .page-solucoes .solucoes-carousel, .page-mercado .solucoes-carousel { margin: 0 auto; float: none; display: block; }
    .page-solucoes .solucoes-info, .page-mercado .solucoes-info { width: 100%; float: none; }

    .modal .modal-title { font-size: 25px; }

    .home-atuacao .atuacao-tabs-content {
        .row { height: auto; line-height: 1; padding-bottom: 40px; }
        .tab-content, .tab-image a {
            height: auto; line-height: 1; text-align: center;
            img { height: 150px; width: auto; margin-bottom: 20px; }

            .tab-content-item { text-align: center; }

        }
        .owl-nav { 
            .owl-next, .owl-prev { width: 40px; height: 40px; line-height: 40px; top: 100px;  
                i { margin-top: 13px; }
            }
            .owl-next { right: 0; }
            .owl-prev { left: 0; }
        }
    }


    .page-solucoes, .page-mercado {
         .brand-list { text-align: center; 
            .brand-item { float: none; display: inline-block; }
        }
    }


    .page-banco-imagens, .page-nossas-solucoes, .page-marca, .page-solucoes-item {
        #page-content  .content .default-list li { width: ~"calc(50% - 20px)"; }
    }

    .home-products, .home-adere, .home-posts { display: none; }
    .adere-location-box .adere-location-info .phone { font-size: 24px; }
    .adere-location-box .adere-location-info .phone i.fa { font-size: 20px; height: 40px; line-height: 40px; width: 40px; }

    .home-search { margin-top: 0;
        .col-sm-2 { display: none; }
        .col-sm-10  { float: none; }
        .home-search-form { margin: 20px 10px; padding: 0 0; background: #cccccc; overflow: hidden;
            select, .select2-container {
                width: 100% !important; .borderRadiusImportant(10px,10px,0,0); overflow: hidden;
            }
            input { width: ~"calc(100% - 24px)" !important; height: 57px; }
            button { margin-top: 4px; margin-left: -28px; }
        }
    }

    .atuacao-tabs { display: none; }
    .home-atuacao { margin-top: 0; padding-top: 40px;
        .section-header { margin-bottom: 20px; }
    }

    .adere-location-box { padding: 0 20px 80px; }
    .adere-location-box .adere-location { margin-bottom: 20px; }
    .adere-location-box .adere-location-info { text-align: center; }
    
    .page-solucoes .solucoes-carousel, .page-mercado .solucoes-carousel { width: 100%; }
    .page-solucoes .solucoes-carousel .item, .page-mercado .solucoes-carousel .item { width: 100%; height: auto; }

    .page-blog #page-content .content { width: 100%; padding: 40px 20px; }

    .navigation .navigation-pages { display: none; }
    .navigation { padding-bottom: 50px; }

    .modal-download .modal-data { top: 0; height: 100%; width: 100%; overflow: auto; }

    .home-banner .home-banner-list a .banner-image, .home-banner .home-banner-list a .banner-text {
        width: 100%; float: none; text-align: center; height: auto; line-height: 1; padding: 10px;
    }
    .home-banner .home-banner-list a { height: auto; padding: 20px 0; }
    .home-banner .home-banner-list a .banner-image img { width: auto; height: 200px; }
    .home-banner .home-banner-list a .title { margin-bottom: 20px; }
    .home-banner .home-banner-list a .pre { margin-top: 20px; }

    #page-content  .content  {
       // .default-list li  { width: ~"calc(50% - 15px)"; }

        .default-list li:nth-child(3n+1), .default-list li:nth-child(4n) { margin-left: 10px; }
        .default-list li:nth-child(3n), .default-list li:nth-child(4n+1) { margin-right: 10px; }
        .default-list li:nth-child(2n+1) { margin-left: 0; text-align: center; }
        .default-list li:nth-child(2n) { margin-right: 0; clear: right; }

    }


    .modal-play.modal-play-3col .overlay-play, .modal-play { height: 100%; line-height: 200px; }

    .comments .comment-item .col-sm-1 { display: none; }

    .page-parcerias .modal-play { text-align: center; margin: 0 auto; }

    .page-institucional .table-conceitos { display: block;
        td { display: block; width: 100%; text-align: center; }
        td.image { width: 100%; }
    }

    #newsletter .title { font-size: 28px; margin-bottom: 30px; }
    #newsletter form { padding: 0 20px; 

        .col-sm-5, .col-sm-2 { padding-left: 0; }
        label { text-align: left; display: block; }
        input { width: 100%; }

        .btn { margin-top: 20px; width: auto; float: right; }
    }
    .footer-list { margin: 0; text-align: center; }

    
    #copy { text-align: center; height: auto; }
    #copy img { height: auto; }


    .page-contato .btn-full, .page-ouvidoria .btn-full { margin-bottom: 20px; }


    // .home-banner-product { display: none; }

    .home-atuacao .atuacao-tabs-content .tab-content figure, .home-atuacao .atuacao-tabs-content .tab-image a figure {
        margin-bottom: 20px;
    }

    #page-header.blog .container { height: 100px; padding-top: 40px; }

    #page-header.blog .container:after { left: 10px; }

    #copy img { margin-top: 20px; }

    #page-content .content .content-title, #page-content .content .content-section-title, .post .post-title, .post .post-title a { font-size: 24px; margin-bottom: 15px; }
    .post .post-title a { margin-bottom: 0; }


    p { font-size: 14px; line-height: 20px; }
}
@media (max-width: 620px) {

    .home-banner .home-banner-list a .title { font-size: 34px; line-height: 40px; }
    .home-banner .home-banner-list a .pre { font-size: 18px; }

    #page-header .container .page-title { font-size: 34px; line-height: 40px; }


    #page-content  .content  {
       .default-list li  { width: 100%; display: block; float: none; padding-top: 0; margin: 0 auto 20px auto !important; }
       .default-list.default-article li { padding-top: 0; }
    }

    .default-list.default-imagem p { text-align: center; }


    .page-banco-imagens, .page-nossas-solucoes, .page-marca, .page-solucoes-item {
        #page-content  .content .default-list li { width: 100%; }
    }

    .footer-list .col-xs-6 { width: 100%; }
    #footer .footer-list .title { padding-top: 30px; }

    .page-mercado, .page-solucoes {
         .box-list .link-red { display: none; }
         .box-list .link-black { display: block; margin-top: 10px; }
    }

    .page-certificacoes .table-certificacoes { display: block; 

        td { display: block; width: 100% !important; text-align: center; margin-bottom: 10px; }
    }
    .page-certificacoes #page-content .content .content-title { text-align: center; }
    
    .home-adere .adere-numero .box { height: auto; padding-bottom: 20px; }
    .home-adere .adere-numero .box ul li { display: block; float: none; margin: 0 auto; margin-bottom: 15px; }

    .box-list { border-left: 0; border-right: 0; .borderRadiusAll(0); margin: -1px -20px 0;  }
    .box-list:last-child { border-bottom: 1px solid #cccccc; }


    #page-content .content .default-list li  { height: auto; 

        .pull-right { float: none !important; }
    }
}


@media (max-width: 400px) {

    #header .logo img { width: 100px; }
    #header .container .mobile-nav {right: 10px; font-size: 0; }

    #header .container .nav-lang { display: block; padding-right: 50px; }
}