
.page-sidebar { width: ~"calc(25% - 20px)"; padding: 40px 0;

    .sidebar-title { font-size: 24px; text-transform: uppercase; margin-bottom: 0;  }
    .divisor { display: block; }


    .box {
        margin-bottom: 30px;
        .banner {
            img {
                max-width: 253px;
                max-height: 359px;
            }
        }
    }
    .box-bordered { border: 1px solid @lgray; .borderRadiusAll(3px); margin-top: 15px; width: 253px; padding: 10px;
        &.t-contact > p {
            margin-bottom: 5px;
        }
        ul li { list-style: none; 
            a { font-weight: bold; color: @dgray; display: block; padding: 10px 5px; }
            a:hover { color: #848484; }

            &.active a { color: @cta; }
            &.active a:hover { color: #f15353; }

            i.fa { color: @cta; width: 25px; font-size: 20px; }
            i.fa.fa-question-circle { font-size: 22px; margin-top: -4px; width: 23px; margin-left: 2px; }
        }

        .box-link { font-size: 18px; color: #000; font-weight: bold; padding: 0 5px;
            i.fa { color: @cta; margin-right: 7px; }
        }

        .sac { color: @dgray; margin-top: 0; margin-bottom: 20px; 
            .sac-hours { text-transform: none; }
            strong { display: block; }
        }
        .sac-2 { font-size: 16px; line-height: 18px; margin-bottom: 10px; margin-top: 10px; }

        .sidebar-nav {
            
            .sub { display: none; }

            li.has-sub a { color: @dgray; position: relative; }
            li.has-sub a:hover { color: #848484; }
            li.has-sub.active > a { color: @cta; font-weight: bold; }
            li.has-sub.active .sub { display: block; }

            li.has-sub.active .link a { color: @cta; font-weight: bold; }
            li.has-sub .link { position:relative; }
            li.has-sub .link .icon-set { position: absolute; top: 11px; right: 0; font-size: 16px; text-align: center; color: @gray; cursor:pointer; }
            li.has-sub .link .icon-set.fa-chevron-right {display: block;}
            li.has-sub .link .icon-set.fa-chevron-down {display: none;}
            li.has-sub.active .link .icon-set.fa-chevron-right {display: none;}
            li.has-sub.active .link .icon-set.fa-chevron-down {display: block;}
            li.has-sub.active .link .icon-set {color:@cta;}
            li.has-sub li a { padding: 3px 30px 3px 20px; font-weight: normal; font-size: 14px; }
            .sub > li.active > a {
                color:@cta;
            }
            // .sub { display: none; }
        }
    }

    .sidebar-list {
        .sidebar-list-item {
            border-bottom: 1px solid @lgray; margin-bottom: 20px; padding-bottom: 20px;
            .image {
                text-align: center;
                img {
                    width:auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .title { font-weight: bold; color: #000; display: block; margin-top: 10px; }
        }
    }

    .form-search {  position: relative; padding: 10px;

        input { border: 0; background: transparent; width: 100%; text-transform: uppercase; outline: none; }
        button { position: absolute; top: 8px; right: 7px; border: 0; background: none; color: @cta; font-size: 18px; }

    }
}
