body { font-size: 16px; }
 
.h1 { font-size: 54px; line-height: 58px; margin-bottom: 30px; margin-top: 0; }
.h2 { font-size: 36px; line-height: 40px; margin-bottom: 24px; margin-top: 0; }
.h3 { font-size: 24px; line-height: 28px; margin-bottom: 18px; margin-top: 0; }
.h4 { font-size: 18px; line-height: 22px; margin-bottom: 12px; margin-top: 0; }
p  { font-size: 16px; line-height: 26px; margin-bottom: 30px; margin-top: 0; }

a:active, a:hover, a:focus { text-decoration: none !important;  color: #353535; }

a.nolink { cursor: default !important; }
a.nolink:hover,a.nolink:active,a.nolink:focus { color: #000; }

.btn { 
    height: 45px; line-height: 45px; background: @gray; text-decoration: none; cursor: pointer; display: inline-block; margin: 0; padding: 0 20px; 
    text-transform: uppercase; border: 0; .borderRadiusAll(5px); color: #FFF; font-weight: bold; font-size: 16px; 

    .transition(all linear 0.3s);
}
.btn:hover { background: @dgray; text-decoration: none; color: #FFF; }

.btn-full { width: 100%; text-align: center; }

.btn-red { background: lighten(@cta, 6%); }
.btn-red:hover { background: @cta; }
.btn-red-active { background: @cta; }
.btn-red-active:hover { background: lighten(@cta, 6%); }

.btn-border { display: inline-block !important; .transition(all linear 0.3s); background: transparent; color: #FFF; border-color: #FFF; line-height: 1; border: 2px solid #FFF; .borderRadiusAll(5px); text-transform: uppercase; padding: 7px 20px; cursor: pointer; }
.btn-border:hover { background: #FFF; color: @cta; text-decoration: none; }
.btn-border-red { border-color: @cta; color: @cta; }
.btn-border-red:hover { text-decoration: none; color: #FFF; background: @cta; }

.btn-transparent { background: transparent; color: #000; margin-bottom: 5px !important; padding: 0; .transition(all linear 0.3s); }
.btn-transparent.red { color: @cta; }
.btn-transparent.red:hover { text-decoration: underline; background: transparent; color: @cta; }

.padding-left { margin-left: 30px; }
.nopadding-left { margin-left: 0; padding-left: 0; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
ul { padding: 0; margin: 0; }

.section-title { font-size: 54px; text-transform: uppercase; font-weight: normal; color: #000; margin: 0; }
.section-header-info { color: @gray; max-width: 300px; display: block; margin: 0 auto; margin-bottom: 10px; line-height: 20px; }

.divisor { height: 4px; background: @cta; width: 40px; .borderRadiusAll(4px); display: inline-block;   }
.divisor.d2x { width: 60px; } 
.divisor.d3x { width: 90px; } 


.icon {
    display: inline-block; width: 31px; height: 30px; background: url(../../img/sprites.png) 0 0 no-repeat; 

    &:hover { text-decoration: none; background-position-y: -30px; }
    &.icon-twitter { background-position-x: -43px; }
    &.icon-linkedin { background-position-x: -83px; }
    &.icon-plus { background-position-x: -122px; }
    &.icon-youtube { background-position-x: -161px; }
}

.icon-chevron-left { display: inline-block; width: 10px; height: 15px; background: url(../../img/sprites.png?v4) -236px 0 no-repeat;  margin-top: 18px;}
.icon-chevron-left.black, .owl-nav .owl-prev:hover .icon-chevron-left { background-position-x: -223px; }
.icon-chevron-right { display: inline-block; width: 10px; height: 15px; background: url(../../img/sprites.png?v4) -237px -16px no-repeat; margin-top: 18px; }
.icon-chevron-right.black, .owl-nav .owl-next:hover .icon-chevron-right { background-position-x: -223px; }


::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background: #f3f3f3;
}
 
::-webkit-scrollbar-thumb {
    background: @gray; .borderRadiusAll(10px)
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

object[type^="application/gas-events"] { display: none; }
